<header id="header">
	<div class="container">
		<div class="logo">
			<a href="{{ site.url }}">
				<img src="{{ site.url }}/images/logo.svg" alt="{{ site.title }}">
			</a>
		</div>
		<div class="burger-wrap">
			<a href="#" class="nav-opener"><span></span></a>
		</div>
		<nav class="main-nav">
			<div class="nav-drop">
				<ul class="nav-menu">
					{% for link in site.main_nav %}
					<li class="{% if page.url == link.url %}active{% endif %}">
						<a class="{% if link.is_uppercase %}link-down {% endif %}{% if link.is_btn %}btn {% endif %}" href="{{ link.url }}">{{ link.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
</header>
