<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{page.title}}{% else %}{{ site.title }}{% endif% %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
	<link media="all" rel="stylesheet" href="{{ site.url }}/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="{{ site.url }}/js/jquery.main.js" defer></script>
	<script data-uid="2b4d79edfb" src="//f.convertkit.com/2b4d79edfb/99bfa4b0a1.js" defer></script>
	<script src="//f.convertkit.com/ckjs/ck.5.js" defer></script>
</head>
