.pricing-section{
	color: $white;
	padding: 32px 0;
	font-size: 16px;
	background-image: linear-gradient(to right, #76e2a1 0%, #7cbaf2 100%);

	@include media('>=tablet') {
		padding: 40px 0;
	}

	@include media('>=desktop') {
		padding: 70px 0;
	}

	.heading-holder{
		padding: 0 0 1.2em;
		@include media('>=desktop') {
			padding: 0 0 2.3em;
		}
	}

	h1,
	h6 {
		color: inherit;
	}

	h1 {
		@include media('>=desktop') {
			margin: 0 0 1em;
		}
	}

	h6 {
		opacity: .7;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .2em;
		margin: 0 0 .5em;
	}

	.info-holder {
		margin-bottom: 30px;
	}

	a.btn {
		background: #fff;
		color: #79cec9;
		display: block;
		width: 142px;
		margin: 0 auto;
		&:hover {
			background: transparentize(#fff, .2);
		}
	}
}
