<div class="gallery-box">
	<div class="slider-main">
		{% for slide in include.block_content %}
		<div>
			<picture>
				<source srcset="{{ site.url }}/{{ slide.image }}, {{ site.url }}/{{ slide.image2x }} 2x">
				<img src="{{ site.url }}/{{ slide.image }}" alt="">
			</picture>
		</div>
		{% endfor %}
	</div>
	<div class="slider-nav">
		{% for slide in include.block_content %}
		<div>
			<div class="slide-heading">
				<img src="{{ site.url }}/{{ slide.icon }}" alt="{{ slide.heading }}">
			</div>
			<h2 class="title-gallery">{{ slide.heading }}</h2>
			<p>{{ slide.text }}</p>
		</div>
		{% endfor %}
	</div>
</div>