---
layout: default
---

<!-- Intro Section -->
<section class="intro-section">
	<div class="container">
		<div class="two-columns">
			<div class="column">
				<header class="heading-holder">
                    <h1>{{ page.intro_heading }}</h1>
                    <p class="subtitle">{{ page.intro_subtitle }}</p>
					<!-- Include Markdown Content for Intro Section -->
				</header>
				<a href="https://app.swivelscheduler.com/signup" class="btn">Start Free Trial</a>
				<a href="#featuresSection">Learn More</a>
			</div>
			<div class="column">
				<div class="image-intro">
					<picture>
						<source srcset="{{ site.url }}/{{ page.intro_img }}, {{ site.url }}/{{ page.intro_img2x }} 2x">
						<img src="{{ site.url }}/{{ page.intro_img }}" alt="A screenshot of Swivel working on an iPad. The schedule allows you to see all of your student's goals for the next few weeks on a single page.">
					</picture>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Features Section -->
<section id="featuresSection" class="features-section">
	<div class="container">
		<header class="heading-holder">
			<h1>{{ page.features_heading }}</h1>
		</header>
		<!-- Include Features Slider -->
		{% include blocks/features-slider.html block_content = page.features_slider %}
	</div>
</section>

<!-- Pricing Section -->
<section id="pricingSection" class="pricing-section">
	<div class="container">
		<header class="heading-holder">
            <h1>{{ page.pricing_heading }}</h1>
            <p class="subtitle">{{ page.pricing_subtitle | markdownify }}</p>
            <p>{{ page.pricing_header_text  | markdownify }}</p>
		</header>
		<div class="info-holder">
            <h6>{{ page.pricing_body_header }}</h6>
            <ul class="circle-list">
                {% for item in page.pricing_body_list %}
                <li>{{ item | markdownify }}</li>
                {% endfor %}
            </ul>
		</div>
		<a href="https://app.swivelscheduler.com/signup" class="btn">Start Free Trial</a>
	</div>
</section>

<!-- Contact Section -->
<section class="contact-section">
	<div class="container">
		<header class="heading-holder">
            <h1>{{ page.contact_heading }}</h1>
            <p class="subtitle">{{ page.contact_subtitle | markdownify }}</p>
		</header>
		<div class="form-wrap">
			<!-- Include Convertkit Form -->
			{% include blocks/convertkit-form.html %}
			<p>{{ page.contact_form_text | markdownify }}</p>
		</div>
	</div>
</section>
